{% extends 'shop/basic.html' %}

{% block body %}
<div class="container mt-4">   
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <h2>{{ product.product_name }}</h2>
            <img src="{{ product.image.url }}" width="300">
        </div>
        <div class="row">
            <button class="btn btn-primary mx-3">Buy Now</button>
            <button class="btn btn-primary">Add To Cart</button>
        </div>
    </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p>{{ product.desc }}</p>
        <h4>Price: ₹{{ product.price }}</h4>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
$(document).ready(function(){

    let cart = {};

    // Load cart
    if(localStorage.getItem('cart')){
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCartCount();
    }

    // Add to cart
    $(document).on('click', '.cart', function(){

        let id = this.id;
        cart[id] = (cart[id] || 0) + 1;

        localStorage.setItem('cart', JSON.stringify(cart));
        updateCartCount();
    });

    // TOTAL ITEMS COUNT
    function updateCartCount(){
        let total = 0;
        for(let item in cart){
            total += cart[item];
        }
        $('#cart').text(total);
    }
   
    function updatePopover(){
        let text = '<h6>Cart Items</h6>';
        for(let item in cart){
            text += item + ' Qty: ' + cart[item] + '<br>';
        }
        $('#popcart').attr('data-content', text).popover('show');
    }

    // INITIALIZE POPOVER
    $('#popcart').popover();

    document.getElementById("popcart").setAttribute('data-content','<h5>Cart</h5>')
});
</script>


{% endblock %}