<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cartify</title>
  </head>
  <body>
    <!-- Jumbotron / Hero Section -->
<div class="container my-5">
  <div class="p-5 text-white rounded-4 shadow"
       style="background: linear-gradient(135deg, #e8eaec, #efebebee);">
    
    <div class="row align-items-center">

      <!-- TEXT CONTENT -->
      <div class="col-md-7">
        <h1 class="display-5 fw-bold">Welcome to Cartify 🛒</h1>
        <p class="fs-5 mt-3">
          Explore premium products and read insightful blogs to stay updated.
        </p>

        <!-- BUTTONS -->
        <div class="mt-4">
          <a href="/shop" class="btn btn-light btn-lg me-3">
            🛍️ Shop
          </a><br>
          <a href="/blog" class="btn btn-outline-light btn-lg">
            ✍️ Blog
          </a>
        </div>
      </div>
      {% load static %}
      <div class="col-md-5 text-center d-none d-md-block">
      <img src="{% static 'shop/cartify.png' %}"
          class="img-fluid rounded-3 shadow-sm"
          style="max-width: 1000px;"
          alt="Cartify Logo">
    </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
  </body>
</html>